<body>

<section data-ng-controller="HomeController" class="home-page">
    


<div class="icon-heading"><i class="fa fa-users"></i></div>

<h1 class="heading">Asynchronous Learning Model</h1>

<div class="line-separator"></div>

<p class="text-content">Were you always the fastest kid in your kindergarten class—the first to spell ‘Dog’ or count to 10? Or, maybe you’re more of a wandering soul? Our Asynchronous Learning Model (ALM) is designed specifically to ensure everyone learns at their own pace and are not held back or rushed by the pace of a one-size-fits-all classroom. When you’re ready, you’ll advance to more sophisticated and challenging positions on your team and to new teams with new projects.</p>


<h3 class="sub-heading">Blended Classroom</h3>

<p class="text-content">We’re not your parents, so you won’t be getting lectures from us. We don’t have preplanned topics that we’ll shove down your throat. Instead, all instruction is based on what we see actually happening with either with the class, a team, or an individual. 

Occasionally, instructors will help facilitate group discussions and provide quick overviews of concepts that apply to a specific problem or context. And, then we have you immediately apply these discussion and contexts in exercises or with your team’s current project.</p>

<h3 class="sub-heading">Quick-start Code Module </h3>

<p class="text-content">Our quick-start coding module ensures students enter the classroom with the programming background they’ll need to succeed. Intended primarily for students with little to no programming experience in JavaScript (but open to anyone!), you’ll work alongside other quick-start students through pre-course material designed specifically to teach the fundamentals of JavaScript, and the libraries will be using in the classroom. You’ll have the same access to instructors and to open office hours as everyone else, and the module is provided at no extra cost.</p>

<h3 class="sub-heading">Track-Your-Trends™ Dashboard</h3>

<p class="text-content">Practice what you preach. We’ve created an online dashboard application so you can track your progress through the course to see your strengths and weaknesses, currently and over time. Instructors will also use the dashboard when providing feedback on your progress. </p>


</section>



</body>