<section data-ng-controller="HomeController" class="subpage home-page">
    

    <h1 class="heading">Community</h1>

    <div class="line-separator"></div>

    <p class="text-content">When it comes to community, again, we’re focused on how coding works in the real world. At Isomer, the community starts with the other students and instructors you’ll be working with. But, it doesn’t stop there. We’re serious about getting you out in the local development community and into the online community. All students will give a presentation at a local web developer group—it’ll be part of your learning, but also a way to start meeting other developers and employers. Next, you’ll gain entry into the online community through building real world, open-source apps, which will let you build your reputation in communities like <a href="http://www.github.com">GitHub</a> and <a href="http://www.stackoverflow.com">Stack Overflow</a>—which helps you immensely
        on the job market.</p>

    <p class="text-content">And, you’re tuition includes a 4-month membership at Sustainable Startups, Salt Lake City’s newest co-working space for social entrepreneurs. Here you’ll be surrounded by a constant stream of innovative people and ideas, a space to find new opportunities and to stay inspired by others who are looking to advance not only their worlds, but the world.</p>

    <p class="text-content">Once an Isomer, always an Isomer. All students are welcome back at any time. You get lifetime access to instructors’ office hours, to attend all future discussions, and keep training with the class on our current web development projects.</p>


</section>
