<section data-ng-controller="HomeController" class="subpage home-page">


    <h1 class="heading">Our Community</h1>

    <div class="row">
        <div class="col-md-6 vcenter">
            <p class="text-content">When it comes to community we’re focused on how coding works in the real world. At Isomer, the community starts with the other students and instructors you’ll be working with. But, it doesn’t stop there. We’re serious about getting you out in the local development community and into the online community. All students will give a presentation at a local web developer group—it’ll be part of your learning, but also a way to start meeting other developers and employers. Next, you’ll gain entry into the online community through building real world, open-source apps, which will let you build your reputation in communities like <a href="http://www.github.com">GitHub</a> and <a href="http://www.stackoverflow.com">Stack Overflow</a>—which helps you immensely
                on the job market.</p>
            <p class="text-content">And, your tuition includes a 4-month membership at Sustainable Startups, Salt Lake City’s newest co-working space for social entrepreneurs. Here you’ll be surrounded by a constant stream of innovative people and ideas, a space to find new opportunities and to stay inspired by others who are looking to advance not only their worlds, but the world.</p>


        </div><!--
        --><div class="col-md-6 vcenter">
        <img class="img-responsive" src="/modules/core/img/class/jowanza_coding.jpg"/>
    </div>
    </div>
    <div class="row">
    </div>

    <div class="line-separator"></div>


    <div class="row">
        <h3 class="sub-heading head-room">Students</h3>

        <div class="col-md-6 vcenter">
            <p class="text-content">Sometimes it’s overlooked, but the students you learn alongside become one of the most valuable assets to your learning and advancement.</p>

            <p class="text-content">We are selective in who we take—our non-profit principles and async learning model enable us to not require any minimum class sizes. We take only who we want and who our current students will work with the best. You don’t necessarily need a background in web development—but many already do.</p>

            <p class="text-content">Sure, we look for students who are interested in working hard and want to have fun. But, students at Isomer also share a love for problem solving and want to learn how to find solutions on their own. We’ll teach you the skills and equip you with the tools to learn, but we know the best coders ask questions rather than ask for answers.</p>

            <p class="text-content">We know that students who ask questions and are actively engaged contribute the most to other students. And, as you begin to network, it doesn’t hurt these students will also be the ones who advance the quickest in their jobs, and will soon be hiring other developers.</p>
        </div><!--
        --><div class="col-md-6 vcenter">
        <img class="img-responsive" src="/modules/core/img/class/isomer2.jpg"/>
        <img class="img-responsive" src="/modules/core/img/class/isomer4.jpg" style="margin-top: 3%;"/>
    </div>
    </div>

</section>
