<section data-ng-controller="HomeController" class="subpage home-page cirriculum">


    <h1 class="heading">Curriculum </h1>

    <div class="col-md-6">
    <p class="text-content">The future is written in full-stack JavaScript, so that’s what we teach at Isomer. We’ll learn on the MeanJS framework (MongoDb, Express, Angular, and Node), which is quickly become an industry standard.</p>

    <p class="text-content">And, concentrating on one language means you’ve got less to learn, which gives you more time to build.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive class-photo" src="/modules/core/img/class/isomer1.jpg"/>
    </div>


    <!--<div>-->
<!--todo add logos for html5, css3, JS6, MeanJS, and maybe others?  the 4 meanjs libraries, bootstrap, socketio, and grunt, bower, & yo!-->
    <!--</div>-->

    <!--todo if we keep this text, we should add hyperlinks to the homepages for each of these.-->
    <!--<p class="text-content">You'll also be learning useful tools and libraries for JavaScript and web development in-->
        <!--general, such as GitHub, Socketio, and Grunt, Bower, & Yo</p>-->


    <div class="row text-content">
        <div class="col-md-6">
            <h4>Open Source</h4>
            <p>All of the code you will write in the class will be Open Source. This means that you can add it to your public portfolio, and showcase your talents to other programmers. Additionally, we will talk about how to utilize and contribute to other open source projects on the web.</p>
        </div>
        <div class="col-md-6">
            <h4>Learning to Learn</h4>
            <p>Learning to code is very different from other skills because of the rapid pace of change in technology. It is very likely that you will be using completely different tools within 2-3 years of learning them. As a result, we emphasize how to develop a curious mind, and engage in live long learning so that you can keep pace with the latest trends.</p>
        </div>
        <div class="col-md-6">
            <h4>Startup Skills</h4>
            <p>Most of the problem solving aspects of creating a start up overlap nicely with the problem solving involved in coding. We'll help you with your pitch, your product direction, and how to create a MVP.</p>
        </div>
        <div class="col-md-6">
            <h4>Continued Learning</h4>
            <p>Once an Isomer, always an Isomer. All students are welcome back at any time. You get lifetime access to instructors’ office hours, to attend all future discussions, and keep training with the class on our current web development projects.</p>
        </div>
    </div>

    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Core Computer Science</h3>
        <p>No CS degree required. We'll teach you the parts that are actually important from a degree, and we'll skip the parts that aren't.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Data Structures</h4>
                <p>Data structures are used store non-persistent memory. We cover all of the essential data structures such as arrays, hash maps, lists and trees.</p>
            </div>
            <div class="col-md-6">
                <h4>Algorithms & Recursion</h4>
                <p>
                    An algorithm is a set of rules that are repeated in order to solve a problem. You'll learn how to write them, and how to use some of the more brain-tickling aspects, such as recursion.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Big O & Efficiency</h4>
                <p>
                    You probably hate it when an app you use is constantly loading. We'll teach you how to analyze run time efficiency to make sure that your code is as efficient as possible.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Abstraction</h4>
                <p>
                    A computer is built on layers of complex systems. We'll teach you how to navigate these layers to become a computer pro.
                </p>
            </div>
        </div>
    </div>



    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Core Software Engineering</h3>
        <p>Most traditional CS degrees don't cover these topics in depth, but they are essential in the industry.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Object-Oriented & Functional Programming</h4>
                <p>
                    There are two schools of thought in computer programming. We'll make sure you understand the differences, and when to use them.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Multi-Threaded & Asynchronous Patterns</h4>
                <p>
                    Most modern computers and mobile devices have multiple processors in them called cores. You will learn how to write code that can run across multiple processors simultaneously.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Debugging</h4>
                <p>
                    Sometimes fixing problems in your code can be incredibly difficult. We'll show you how to solve these problems using a disciplined approach.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Modularity</h4>
                <p>
                    Good software can be broken down into individual pieces.
                </p>
            </div>
        </div>
    </div>

    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Client-side Libraries</h3>
        <p>We cover the most important aspects of running code inside of the browser.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Angular & Data Binding</h4>
                <p>
                    The cutting edge front end frameworks usually include a concept called data binding. Data binding lets you write cleaner, more intuitive code.
                </p>
            </div>
            <div class="col-md-6">
                <h4>The DOM (HTML5 & CSS)</h4>
                <p>
                    All visual elements on a web page are created using HTML & CSS. Tools such as Bootstrap and Sass will allow you app to be responsive and well designed.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Authentication & Cross Domain</h4>
                <p>
                    Learn the rules that govern how a browser is allowed to communicate with a server.
                </p>
            </div>
        </div>
    </div>

    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Server-side Libraries</h3>
        <p>We'll make sure you know the ins & outs of running code in the cloud.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Node & NPM</h4>
                <p>
                    Node allows javascript to run on the server, allow us to build desktop and server applications using the same language we run in the browser.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Express & APIs</h4>
                <p>
                    Have you ever logged into a website using your facebook credentials? Being able to embed other applications into your own is part of what APIs enable us to do. You will also build your own APIs using a library called express.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Object Relation Mapping</h4>
                <p>
                    An ORM allows us to simplify how to connect and query a database.
                </p>
            </div>
        </div>
    </div>

    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Database Storage</h3>
        <p>Every app needs a way to save user data. There are many approaches to this problem, and we cover the most relevant strategies.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>MongoDB / NoSQL</h4>
                <p>
                    A new and popular alternative to SQL databases, these can speed up development time and are easy for introducing beginners to pick up.
                </p>
            </div>
            <div class="col-md-6">
                <h4>SQL & Relational Databases</h4>
                <p>
                    We also cover more complicated SQL databases, which most of the web is built on top of.
                </p>
            </div>
            <div class="col-md-6">
                <h4>DBaaS (Firebase)</h4>
                <p>
                    A relatively new technology, database as a service abstracts your data store to an easy to use API.
                </p>
            </div>
        </div>
    </div>

    <div class="row text-content">
        <div class="line-separator"></div>
        <h3 class="heading">Industry Tools</h3>
        <p>You'll also be learning useful tools and libraries for JavaScript and web development in
            general, such as GitHub, Socketio, and Grunt, Bower, & Yo.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Git Version Control</h4>
                <p>
                    A standard in the industry, we will use git to track our code changes, and manage working on large code bases with other students.
                </p>
            </div>
            <div class="col-md-6">
                <h4>IDEs & Text Editors</h4>
                <p>
                    There are many different options here, but you will learn how to pick tools that will speed up your development process.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Terminal</h4>
                <p>
                    Learn how to execute text commands without a GUI.
                </p>
            </div>
        </div>
    </div>

    <!--<div class="text-content list-content">-->
    <!--<div class="col-md-4">-->
        <!--<h3>-->
            <!--The Experience-->
        <!--</h3>-->
        <!--<ul>-->
            <!--<li>-->
                <!--Co-Working Space-->
            <!--</li>-->
            <!--<li>-->
                <!--Social Entrepreneurship Community-->
            <!--</li>-->
            <!--<li>-->
                <!--Non Profit educational attitude-->
            <!--</li>-->
            <!--<li>-->
                <!--Project Focused-->
            <!--</li>-->
            <!--<li>-->
                <!--Github Driven-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h3>-->
            <!--Theory-->
        <!--</h3>-->
        <!--<ul>-->
            <!--<li>-->
                <!--Working in teams-->
            <!--</li>-->
            <!--<li>-->
                <!--Agile & Scrum Management-->
            <!--</li>-->
            <!--<li>-->
                <!--Speaking & Presenting Ideas-->
            <!--</li>-->
            <!--<li>-->
                <!--Eye for design-->
            <!--</li>-->
            <!--<li>-->
                <!--Design Patterns-->
            <!--</li>-->
            <!--<li>-->
                <!--Modularity-->
            <!--</li>-->
            <!--<li>-->
                <!--Abstraction-->
            <!--</li>-->
            <!--<li>-->
                <!--Pitching your idea-->
            <!--</li>-->
            <!--<li>-->
                <!--Pro debugging-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div class="col-md-4">-->
        <!--<h3>-->
            <!--Hard Skills-->
        <!--</h3>-->
        <!--<ul>-->
            <!--<li>-->
                <!--Node-->
            <!--</li>-->
            <!--<li>-->
                <!--Databases (sql & no-sql)-->
            <!--</li>-->
            <!--<li>-->
                <!--Mongo-->
            <!--</li>-->
            <!--<li>-->
                <!--Express-->
            <!--</li>-->
            <!--<li>-->
                <!--Angular-->
            <!--</li>-->
            <!--<li>-->
                <!--Engineering Conventions and best-practices-->
            <!--</li>-->
            <!--<li>-->
                <!--Mad git skills-->
            <!--</li>-->
            <!--<li>-->
                <!--The in-and-outs of github and working with open source projects-->
            <!--</li>-->
            <!--<li>-->
                <!--HTML 5 & CSS 3-->
            <!--</li>-->
            <!--<li>-->
                <!--Javascript-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

</section>
