<section data-ng-controller="HomeController" class="subpage home-page experience">

    <h1 class="heading">Build Real-world Applications</h1>

    <p class="text-content text-content-subpage">Coding on an already existing, on-going  site is much different than creating a small app from scratch—and, it’s how web development works outside of the classroom. So, unlike most bootcamps, we’ve setup partnerships with open-source, non-profit organizations who already have a presence on the web. Once you’ve proven yourself with smaller projects, you’ll learn how coding works in the real world. And, no, we aren’t making any money off of these jobs—so we pick only the ones that will be of most benefit to you and your learning.</p>

    <!--<div>-->
    <!--<h3 class="black heading">Scrum Agile Process</h3>-->
    <!--<img src="modules/core/img/scrum-iteration.png" class="img-responsive" style="margin-left: 25%"-->
    <!--width="600px"-->
    <!--height="auto">-->
    <!--</div>-->


    <p class="text-content text-content-subpage">Our unique async learning model means you’ll start out on these projects as a junior developer and will work with a small team and a product manager. As you gain experience, you’ll move into more lead roles on your team. And, along the way, we’ll show you tools like <a data-ng-href="https://github.com/isomeredu">GitHub</a>, <a data-ng-href="https://trello.com/">Trello</a>, and the <a data-ng-href="http://agilemethodology.org/">Scrum Agile</a> process that professional web devs use, so when you get your first job you'll already know all of the tricks.</p>


    <div class="row">
    <div class="col-md-6">
    <h4 class="sub-heading head-room">Mastery Learning Model</h4>


    <p class="text-content">Were you always the fastest kid in your kindergarten class—the first to spell ‘Dog’ or count
        to 10? Or, maybe you’re more of a wandering soul? Our Mastery Learning Model is designed specifically to
        ensure everyone learns at their own pace and are not held back or rushed by the pace of a one-size-fits-all
        classroom. When you’re ready, you’ll advance to more sophisticated and challenging positions on your team and to
        new teams with new projects.
    </p>
    </div>

    <div class="col-md-6">

    <h4 class="sub-heading head-room">Blended Classroom</h4>

    <p class="text-content">We’re not your parents, so you won’t be getting lectures from us. We don’t have preplanned
        topics that we’ll shove down your throat. Instead, all instruction is based on what we see actually happening
        with either with the class, a team, or an individual. Occasionally, instructors will help facilitate group
        discussions and provide quick overviews of concepts that apply to a specific problem or context. And, then we
        have you immediately apply these discussion and contexts in exercises or with your team’s current project.</p>

    </div>

    <div class="col-md-6">
    <h4 class="sub-heading head-room">Quick-start Code Module </h4>

    <p class="text-content">Our quick-start coding module ensures students enter the classroom with the programming
        background they’ll need to succeed. Intended primarily for students with little to no programming experience in
        JavaScript (but open to anyone!), you’ll work alongside other quick-start students through pre-course material
        designed specifically to teach the fundamentals of JavaScript, and the libraries will be using in the classroom.
        You’ll have the same access to instructors and to open office hours as everyone else, and the module is provided
        at no extra cost.</p>
    </div>


    <div class="col-md-6">
    <h4 class="sub-heading head-room">Track-Your-Trends™ Dashboard</h4>

    <p class="text-content">Practice what you preach. We’ve created an online dashboard application so you can track
        your progress through the course to see your strengths and weaknesses, currently and over time. Instructors will
        also use the dashboard when providing feedback on your progress. </p>

    </div>
    </div>

    <div class="line-separator"></div>
    <h3 class="heading">Community</h3>

    <p class="text-content">When it comes to community, again, we’re focused on how coding works in the real world. At Isomer, the community starts with the other students and instructors you’ll be working with. But, it doesn’t stop there. We’re serious about getting you out in the local development community and into the online community. All students will give a presentation at a local web developer group—it’ll be part of your learning, but also a way to start meeting other developers and employers. Next, you’ll gain entry into the online community through building real world, open-source apps, which will let you build your reputation in communities like <a href="http://www.github.com">GitHub</a> and <a href="http://www.stackoverflow.com">Stack Overflow</a>—which helps you immensely
        on the job market.</p>

    <p class="text-content">And, you’re tuition includes a 4-month membership at Sustainable Startups, Salt Lake City’s newest co-working space for social entrepreneurs. Here you’ll be surrounded by a constant stream of innovative people and ideas, a space to find new opportunities and to stay inspired by others who are looking to advance not only their worlds, but the world.</p>


    <div class="line-separator"></div>

    <h3 class="sub-heading head-room">Students</h3>

    <p class="text-content">Sometimes it’s overlooked, but the students you learn alongside become one of the most valuable assets to your learning and advancement.</p>

    <p class="text-content">We are selective in who we take—our non-profit principles and async learning model enable us to not require any minimum class sizes. We take only who we want and who our current students will work with the best. You don’t necessarily need a background in web development—but many already do. Instead, we want the best and the brightest.</p>

    <p class="text-content">Sure, we look for students who are interested in working hard and want to have fun. But, students at Isomer also share a love for problem solving and want to learn how to find solutions on their own. We’ll teach you the skills and equip you with the tools to learn, but we know the best coders ask questions rather than ask for answers.</p>

    <p class="text-content">We know that students who ask questions and are actively engaged contribute the most to other students. And, as you begin to network, it doesn’t hurt these students will also be the ones who advance the quickest in their jobs, and will soon be hiring other developers.</p>


    <h3 class="sub-heading head-room">Instructors</h3>

    <p class="text-content">Our instructors have worked as web developers for large companies and on startup projects. All of our instructors work as web developers and are active in the coding community, which means they’re up-to-date on the latest trends and newest concepts in web development.</p>

    <p class="text-content">This is hard to teach, and requires a lot of individual attention. And, we can do this because our non-profit model ensures an amazing instructor to student ratio of 1:4.</p>

    <div class="text-content">
        <div class="col-md-4 text-center">
            <h3>
                Wesley Smith
            </h3>
            <a href="http://www.instructure.com/">
                <p>
                    Canvas
                </p>
            </a>
            <img class="img-responsive" src="/modules/core/img/instructors/wesley_headshot.jpg"/>
            <div class="row">
                <a href="https://twitter.com/wesleyfsmith">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://www.linkedin.com/in/wesleyfsmith/">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/wesleyfsmith">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://wesley.io">
                    <i class="fa fa-tumblr fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                Dan Treasure
            </h3>
            <a href="https://www.welbe.com/">
            <p>
                Welbe
            </p>
            </a>
            <img class="img-responsive" src="/modules/core/img/instructors/dan_headshot.jpg"/>
            <div class="row">
                <a href="https://twitter.com/dantreasure">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://www.linkedin.com/in/dantreasure">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/dantreasure">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                Chris Tanseer
            </h3>
            <a href="http://igniter.io">
            <p>
                Igniter
            </p>
            </a>
            <img class="img-responsive" src="/modules/core/img/instructors/chris_headshot.jpg"/>
            <div class="row">
                <a href="http://www.linkedin.com/in/christanseer">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/poetsrock">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>

    </div>

</section>
