<section data-ng-controller="HomeController" class="faqs">

    <h1 class="heading">Frequently Asked Questions</h1>

    <div class="row">
        <h4>
            What kind of individual attention will I receive as a student?
        </h4>
        <p>
            Every student will receive daily 1-on-1 instruction, privately, in front of a whiteboard. We also create custom assignments for each student to address their individual needs.
        </p>
    </div>

    <div class="row">
        <h4>
            Why do you teach mastery-based learning?
        </h4>
        <p>
            Every person learns differently, and at a different speed. Traditionally, education has been a ‘one size fits all’ model where you are not learning at your full speed, or you are struggling to keep up.
        </p>
        <p>
            By allowing students to move at their own speed, we have found that their performance (and personal happiness) increases significantly.
        </p>
    </div>

    <div class="row">
        <h4>
            Why should I take your class instead of taking an online course like code academy?
        </h4>
        <p>
            We strongly encourage people to take online courses before they do our program, and we also use these programs as part of our curriculum.
        </p>
        <p>
            However, to really become a software developer you need experience building real world applications for clients that have users while working alongside experienced developers. This experience is very difficult to replicate with purely online classes.
        </p>
    </div>

    <div class="row">
        <h4>
            Will I get a job after the class?
        </h4>
        <p>
            We are primarily focused on the educational component of what we do. Job placement is very different from teaching an excellent class.
        </p>
        <p>
            However, our students frequently change careers after our class and we offer both networking help for finding opportunities, as well as resume review and interviewing practice. We also know that one of the best way to get a job is to work on real projects, and put open source code on your github account, which is a primary focus of our course.
        </p>
        <p>
            We know that making a career change in technology is hard, which is part of why we offer our lifetime membership, so that we can continue to support you on your journey after you complete the program. If you have specific goals, talk to us and we will give you a realistic appraisal.
        </p>
    </div>

    <div class="row">
        <h4>
            What is your teacher to student ratio?
        </h4>
        <p>
            We always maintain a 1:4 teacher to student ratio.
        </p>
    </div>

    <div class="row">
        <h4>
            What does my tuition pay for?
        </h4>
        <p>
            All tuition expenses go directly towards paying instructors and fixed costs (such as rent). The educational part of our business is nonprofit, and we run the class at cost.
        </p>
    </div>

    <div class="row">
        <h4>
            Why should I take your class instead of taking an online course like code academy?
        </h4>
        <p>
            We strongly encourage people to take online courses before they do our program, and we also use these programs as part of our curriculum.
        </p>
        <p>
            However, to really become a software developer you need experience building real world applications for clients that have users while working alongside experienced developers. This experience is very difficult to replicate with purely online classes.
        </p>
    </div>

    <div class="row">
        <h4>
            Why is your program four months long?
        </h4>
        <p>
            Other coding schools seem to be trying to reduce the amount of time you can learn to code. We’ve seen places offer to teach you coding in just 12 weeks, 11 weeks, or 9 weeks! A quick search on google will show you tons of books offering to teach you to program in as little as 24 hours!
        </p>
        <p>
            The reality is that if you are serious about learning how to code, you need to <a href="http://norvig.com/21-days.html">treat it as a lifelong skill</a>. We think four months is the bare minimum amount of time it takes to gain a baseline proficiency in programming, which is part of why we encourage you to become part of our community and take advantage of our lifetime membership.
        </p>
    </div>

    <div class="row">
        <h4>
            I’m not sure if I’m good enough for the class. Should I apply?
        </h4>
        <p>
            We do not believe in natural ability, or talent. The primary trait we look for in a student is work ethic. If you are willing to dedicate the time it takes, and have discipline during that time, you should apply.
        </p>
    </div>

    <div class="row">
        <h4>
            What kind of time commitment is your program?
        </h4>
        <p>
            The time commitment required to be successful will vary. Some students are successful with the base amount of time (10 hours), while others will need to treat this program like a full time job (40 hours).
        </p>
        <p>
            Get in touch with us if you are unsure how much time you will need to commit and we will give you an estimate.
        </p>
    </div>

    <div class="row">
        <h4>
            Why is your course after hours?
        </h4>
        <p>
            Many excellent students do not have the option of quitting their jobs to do a program full time.
        </p>
        <p>
            Furthermore, we have found that repetition over a longer period of time is a more effective way of learning than trying to cram everything into a few short weeks.
        </p>
    </div>

    <div class="row">
        <h4>
            When is class? When are office hours?
        </h4>
        <p>
            Class is tuesday, wednesday, and thursday from 6-9pm. We run office hours on saturday as well, usually around 2pm. Students are also welcome to schedule additional office hours on non-class days.
        </p>
    </div>

    <div class="row">
        <h4>
            What does ‘lifetime membership’ mean?
        </h4>
        <p>
            From a job perspective, we will continue to let you know about opportunities that we think are a good fit, as well as offer ongoing resume review and interview practice.
        </p>
        <p>
            From a skills perspective, you will always be able to work on our open-source non-profit projects. You will also be part of our online community, and always have the ear of our instructors and other alumni for questions you may have.
        </p>
        <p>
            You are also welcome to continue to come to class and shadow current students. Currently, alums show up to class as they please, but as we grow we may introduce a sing up system since there is a limit to how many bodies we can have in the building.
        </p>
    </div>

    <div class="row">
        <h4>
            Why do you make apps for nonprofits?
        </h4>
        <p>
            First, many nonprofits have a real need for technology solutions to help them conduct their work. We love investing in our local non-profit community.
        </p>
        <p>
            The added benefit of doing this is that students can leave the program having worked on a real world app, with users, alongside experienced developers.
        </p>
    </div>

    <div class="row">
        <h4>
            What will I be able to do by the end of the program?
        </h4>
        <p>
            All of our students achieve basic proficiency in the subjects outlined on our curriculum page. Since each student receives an individualized experience, and can move at their own speed, some students significantly surpass basic proficiency.
        </p>
    </div>

    <div class="row">
        <h4>
            I’ve read negative things about Bootcamps and coding schools. How can I be sure your course is a good investment for me?
        </h4>
        <p>
            At Isomer, we are committed to representing ourselves honestly. We know that some coding schools have not been honest in their dealings with students, and we aim to reverse this trend. All of our students will meet with us before enrolling in the program, and are allowed to test drive our class for free for a week before we take any payment.
        </p>
        <p>
            If you would like to read an honest appraisal of coding schools, as well as tips on choosing a bootcamp, we recommend <a href="https://www.switchup.org/research/best-coding-bootcamps">this article</a>.
        </p>
    </div>

    <div class="row">
        <h4>
            How much does your program cost?
        </h4>
        <p>
            We charge $500 a month for four months. We also have scholarships available.
        </p>
    </div>

    <div class="row">
        <h4>
            Will you build my app/website?
        </h4>
        <p>
            We do prototyping and MVP development for a variety of companies. If you are a non-profit, your app might be a good fit for a class project for the students. Please reach us at contact@isomer.io
        </p>
    </div>

    <div class="row">
        <h4>
            Do you hire students after they graduate?
        </h4>
        <p>
            When we have enough contracts, we do hire some of our students to do professional work for us. This is a good opportunity for them to continue to learn on a professional application.
        </p>
    </div>

</section>
