<!-- Full-stack JavaScript 

The future is written in full-stack JavaScript, so that’s what we teach at Isomer. We’ll learn on the MeanJS framework (MongoDb, Express, Angular, and Node), which is quickly become an industry standard.

And, concentrating on one language means you’ve got less to learn, which gives you more time to build. -->



<body>

<section data-ng-controller="HomeController" class="home-page">
    


<div class="icon-heading"><i class="fa fa-users"></i></div>

<h1 class="heading">Full-stack JavaScript </h1>

<div class="line-separator"></div>

<p class="text-content">The future is written in full-stack JavaScript, so that’s what we teach at Isomer. We’ll learn on the MeanJS framework (MongoDb, Express, Angular, and Node), which is quickly become an industry standard.

And, concentrating on one language means you’ve got less to learn, which gives you more time to build.
</p>


</section>



</body>