<section data-ng-controller="HomeController" class="subpage home-page">


    <h1 class="heading">Curriculum </h1>

    <div class="line-separator"></div>

    <p class="text-content">The future is written in full-stack JavaScript, so that’s what we teach at Isomer. We’ll learn on the MeanJS framework (MongoDb, Express, Angular, and Node), which is quickly become an industry standard.</p>

    <div>
<!--todo add logos for html5, css3, JS6, MeanJS, and maybe others?  the 4 meanjs libraries, bootstrap, socketio, and grunt, bower, & yo!-->
    </div>

    <p class="text-content">And, concentrating on one language means you’ve got less to learn, which gives you more time to build.</p>

    <!--todo if we keep this text, we should add hyperlinks to the homepages for each of these.-->
    <p class="text-content">You'll also be learning useful tools and libraries for JavaScript and web development in
        general, such as GitHub, Socketio, and Grunt, Bower, & Yo</p>

    <div class="text-content list-content">
    <div class="col-md-4">
        <h3>
            The Experience
        </h3>
        <ul>
            <li>
                Co-Working Space
            </li>
            <li>
                Social Entrepreneurship Community
            </li>
            <li>
                Non Profit educational attitude
            </li>
            <li>
                Project Focused
            </li>
            <li>
                Github Driven
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>
            Theory
        </h3>
        <ul>
            <li>
                Working in teams
            </li>
            <li>
                Agile & Scrum Management
            </li>
            <li>
                Speaking & Presenting Ideas
            </li>
            <li>
                Eye for design
            </li>
            <li>
                Design Patterns
            </li>
            <li>
                Modularity
            </li>
            <li>
                Abstraction
            </li>
            <li>
                Pitching your idea
            </li>
            <li>
                Pro debugging
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>
            Hard Skills
        </h3>
        <ul>
            <li>
                Node
            </li>
            <li>
                Databases (sql & no-sql)
            </li>
            <li>
                Mongo
            </li>
            <li>
                Express
            </li>
            <li>
                Angular
            </li>
            <li>
                Engineering Conventions and best-practices
            </li>
            <li>
                Mad git skills
            </li>
            <li>
                The in-and-outs of github and working with open source projects
            </li>
            <li>
                HTML 5 & CSS 3
            </li>
            <li>
                Javascript
            </li>
        </ul>
    </div>
    </div>

</section>
