<section data-ng-controller="HomeController" class="col-md-8 subpage home-page">


    <h1 class="heading head-room">Full-stack JavaScript </h1>

    <div class="line-separator"></div>

    <p class="text-content">The future is written in full-stack JavaScript, so that’s what we teach at Isomer. We’ll learn on the MeanJS framework (MongoDb, Express, Angular, and Node), which is quickly become an industry standard.</p>

    <div>
<!--todo add logos for html5, css3, JS6, MeanJS, and maybe others?  the 4 meanjs libraries, bootstrap, socketio, and grunt, bower, & yo!-->
    </div>

    <p class="text-content">And, concentrating on one language means you’ve got less to learn, which gives you more time to build.</p>

    <!--todo if we keep this text, we should add hyperlinks to the homepages for each of these.-->
    <p class="text-content">You'll also be learning useful tools and libraries for JavaScript and web development in
        general, such as GitHub, Socketio, and Grunt, Bower, & Yo</p>

</section>
