<div class="container" data-ng-controller="HeaderController">

    <div class="col-md-4 navbar-fixed-top">
        <div class="left">
            <div class="img-responsive">
                <img class="img-responsive" src="/modules/core/img/LogoLarge.png">
                <h4 class="slogan pull-right">cure for the common code.</h4>
            </div>

            <div class="selling-points">
                <h3 data-ng-click="selectContent('About Isomer')">About Isomer</h3>
                <h3 data-ng-click="selectContent('Community')">Community</h3>
                <h3 data-ng-click="selectContent('Curriculum')">Curriculum</h3>
                <h3 data-ng-click="selectContent('Real World Application')">Real World Application</h3>
                <h3 data-ng-click="selectContent('Students')">Students</h3>
            </div>
        </div>
    </div>

</div>
