<div class="container" data-ng-controller="HeaderController">

    <div class="col-md-4 navbar-fixed-top">
        <div class="header-space">
            <div class="img-responsive">
                <img class="img-responsive" src="/modules/core/img/LogoLarge.png">
                <!--<h4 class="slogan pull-right">cure for the common code.</h4>-->
            </div>

            <div class="selling-points">
                <a data-ng-href="/#!/welcome"><h3 ui-route="/welcome" ng-class="{sellingPointSelect: $uiRoute}">About Isomer</h3></a>
                <a data-ng-href="/#!/community"><h3>Community</h3></a>
                <a data-ng-href="/#!/instructors"><h3>Instructors</h3></a>
                <a data-ng-href="/#!/students"><h3>Students</h3></a>
                <a data-ng-href="/#!/realworld"><h3>Real-world Applications</h3></a>
                <a data-ng-href="/#!/mastery"><h3>Mastery Learning Model</h3></a>
                <a data-ng-href="/#!/fullstack"><h3>Curriculum</h3></a>
                <a data-ng-href="/#!/pricing"><h3>Pricing</h3></a>
            </div>
        </div>
    </div>

    <img class="col-md-4 img-responsive hexes" src="/modules/core/img/background_half.png">


</div>
