<div data-ng-controller="HeaderController" >
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">Isomer</a>
    </div>
    <nav class="collapse navbar-collapse col-md-3 header2" collapse="!isCollapsed" role="navigation" >
        <div class="header-space">
            <div class="img-responsive">
                <img class="img-responsive" src="/modules/core/img/brand/isomer_full_logo_no_margin.png">
                <!--<h4 class="slogan pull-right">cure for the common code.</h4>-->
            </div>

            <ul class="nav nav-tabs selling-points">
                <li>
                    <a data-ng-href="/#!/welcome"><h3 ui-route="/welcome" ng-class="{sellingPointSelect: $uiRoute}">About Isomer</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/community"><h3>Community</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/students"><h3>Students & Instructors</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/realworld"><h3>Real-world Applications</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/mastery"><h3>Mastery Learning Model</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/fullstack"><h3>Curriculum</h3></a>
                </li>
                <li>
                    <a data-ng-href="/#!/pricing"><h3>Pricing</h3></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--<div class="hexes-container">-->
    <!--<img class="hexes col-md-4" src="/modules/core/img/hex_left_scaled_v3.png">-->
<!--</div>-->
