<section data-ng-controller="HomeController" class="home-page">
    <div class="background-image">
        <div class="text-center">
            <!--<h1>-->
                <!--This isn't a career upgrade. <br>-->
                <!--It's a calling.-->
            <!--</h1>-->
            <h1>
                The future is written in code.<br> Become an author.
            </h1>
        </div>
    </div>

    <!--<div class="deets">-->
        <!--<div class="col-md-6">-->
            <!--<div>-->
                <!--<h3>-->
                    <!--why-->
                <!--</h3>-->
                <!--<p>-->
                    <!--To create a community of cool people who want to create cool stuff--and change the world while doing it.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<div>-->
                <!--<h3>-->
                    <!--how-->
                <!--</h3>-->
                <!--<p>-->
                    <!--To create a community of tech evangelists with a passion for using technology to further social enterprise.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="text-center home-page-details">
        <h2>
            Our Story
        </h2>
        <div>
            <div class="why-body col-md-5">
                <h3>
                    why
                </h3>
                <!--Why codehub?-->

                <!--community, open, underepresentation-->
                <p>
                    To create a community of tech evangelists with a passion for using technology to further social enterprise.
                </p>
            </div>
            <div class="why-features col-md-7">
                <div class="col-md-4">
                    <i class="fa fa-github fa-5x"></i>
                    <h4>open</h4>
                    <p>
                        Our cirriculum is open source and available on github.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-group fa-5x"></i>
                    <h4>
                        community
                    </h4>
                    <p>

                    </p>
                </div>
                <div class="col-md-4">TEXT</div>
            </div>
        </div>


        <!--<div class="how">-->
            <!--<h3>-->
                <!--How we do it.-->
            <!--</h3>-->
            <!--&lt;!&ndash;How does codehub work?&ndash;&gt;-->

            <!--&lt;!&ndash;blended classroom, problem solving,&ndash;&gt;-->
            <!--<div class="divider"></div>-->
            <!--<div class="col-md-7">-->
                <!--<p>-->
                    <!--By teaching you fullstack javascript development.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="what">-->
            <!--<h3>-->
                <!--What we do.-->
            <!--</h3>-->
            <!--&lt;!&ndash;What is codehub?&ndash;&gt;-->
            <!--<p>-->
                <!--An after hours course software engineering course, housed in a community of social entrepreunuers.-->
            <!--</p>-->
            <!--<div class="divider"></div>-->
            <!--&lt;!&ndash;full stack, meanjs, designing ideas, processes&ndash;&gt;-->
        <!--</div>-->
    </div>
</section>
