<section data-ng-controller="HomeController" class="home-page">
    <div class="page-wrapper">
        <!--<div class="agile atom"></div>-->
        <article class="atom-icon panel panel-default full-stack-small">
            <i class="fa fa-code"></i>
        </article>
        <article class="atom-icon panel panel-default non-profit-small">
            <!--<i class="fa fa-dollar"></i>-->
            <!--<i class="fa fa-ban"></i>-->
            <i class="fa fa-globe"></i>

        </article>

        <article class="atom-icon panel panel-default application-and-theory-small">
            <i class="fa fa-cogs"></i>
        </article>


        <article class="atom-icon panel panel-default community-small">
            <i class="fa fa-group"></i>
        </article>

        <article class="atom-icon panel panel-default agile-small">
            <i class="fa fa-code-fork"></i>
        </article>

    <article class="agile atom panel panel-default" >
        <a>
        <div class="sub-spacer">
            <!--<i class="fa fa-group"></i>-->
            <span>
                Agile & Open Source
            </span>
        </div>
        </a>
    </article>

    <article class="non-profit atom panel panel-default" >
        <a>
        <div class="sub-spacer">
            <!--<i class="fa fa-group"></i>-->
            <span>
                Non-Profit
            </span>
        </div>
        </a>
    </article>

    <article class="atom application-and-theory panel panel-default">
        <a>
        <div class="sub-spacer">
            <!--<i class="fa fa-group"></i>-->
            <span>
                Application Over Theory
            </span>
        </div>
        </a>
    </article>

    <article class="community atom panel panel-default" >
        <a>
        <div class="sub-spacer">
            <!--<i class="fa fa-group"></i>-->
            <span>
                Join Our Community
            </span>
        </div>
        </a>
    </article>

    <article class="full-stack atom panel panel-default">
        <a>
        <div class="sub-spacer">
            <!--<i class="fa fa-group"></i>-->
            <span>
                Full-Stack Awesome
            </span>
        </div>
        </a>
    </article>

    <article class="isomer panel panel-default">
        <div class="spacer">
            <span data-ng-bind="title">
                Isomer
            </span>
            <p data-ng-bind="subtitle">
                The Open Source, blended classroom, non-profit, project-focused, community driven developer bootcamp.
            </p>
        </div>
    </article>

    </div>
</section>
