<section data-ng-controller="HomeController" class="subpage home-page experience">

    <h1 class="heading">Instructors</h1>

    <p class="text-content">Our instructors have worked as web developers for large companies and on startup projects. All of our instructors work as web developers and are active in the coding community, which means they’re up-to-date on the latest trends and newest concepts in web development.</p>

    <p class="text-content">Teaching is a very different skill from coding. All of our instructors understand that helping students make their own connections is better than giving them the answer outright. This is hard to teach, and requires a lot of individual attention. To make sure we can do this properly, our model ensures an amazing instructor to student ratio of 1:4.</p>


    <div class="text-content row">

        <div class="col-md-4 text-center">
            <h3>
                Jowanza Joseph
            </h3>
            <a href="https://www.adobe.com/">
                <p>
                    Adobe
                </p>
            </a>
            <img class="img-responsive class-photo" src="/modules/core/img/instructors/jowanza_headshot.jpg"/>
            <div class="row">
                <a href="https://twitter.com/jowanza">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="www.linkedin.com/in/jowanza">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/josep2">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://jowanza.com">
                    <i class="fa fa-tumblr fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                Wesley Smith
            </h3>
            <a href="http://www.instructure.com/">
                <p>
                    Canvas
                </p>
            </a>
            <img class="img-responsive class-photo" src="https://pbs.twimg.com/profile_images/468922748140806144/Tj2wPrBy_400x400.jpeg"/>
            <div class="row">
                <a href="https://twitter.com/wesleyfsmith">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://www.linkedin.com/in/wesleyfsmith/">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/wesleyfsmith">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://wesley.io">
                    <i class="fa fa-tumblr fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                Hannah Bottalla
            </h3>
            <a href="http://www.instructure.com/">
                <p>
                    Canvas
                </p>
            </a>
            <img class="img-responsive class-photo" src="https://pbs.twimg.com/profile_images/460190047698833408/eVBs8WcK_400x400.jpeg"/>
            <div class="row">
                <a href="https://twitter.com/hannahb0t">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://www.linkedin.com/in/hannahbottalla">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/hannahbot">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>


    </div>

    <div class="text-content row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <h3>
                Chris Tanseer
            </h3>
            <a href="http://igniter.io">
                <p>
                    Igniter
                </p>
            </a>
            <img class="img-responsive class-photo" src="/modules/core/img/instructors/chris_sface_1024.png"/>
            <div class="row">
                <a href="http://www.linkedin.com/in/christanseer">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/poetsrock">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                Dan Treasure
            </h3>
            <a href="https://www.welbe.com/">
                <p>
                    Welbe
                </p>
            </a>
            <img class="img-responsive class-photo" src="/modules/core/img/instructors/dan_headshot.jpg"/>
            <div class="row">
                <a href="https://twitter.com/dantreasure">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://www.linkedin.com/in/dantreasure">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/dantreasure">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>

    </div>

</section>
