Logistics & Pricing

Our bootcamp runs Tuesday to Thursday from 6-9pm for 11 weeks, with new cohorts entering at the beginning of every month. Additionally, we run office hours on Mondays, during the weekdays, and over the weekend.

Our tuition is $2500, which includes:
11 week bootcamp
Quick-start module 
4-month full membership at Sustainable Startups, which include 24/7 access to the space
Lifetime access to office hours, all future lectures, and web development projects for additional practice & experience
Mock Interview Prep

Feel like you’ve got more left in you at the end of 11 weeks? For $750 extend your experience for an extra 4 weeks. Our Async Learning Model [link to description] makes it easy to further advance your skills. 

Since we’re serious about making our community a better place, we have diversity scholarships available on a competitive basis. 


Apply Now

Spots fill up fast, so schedule your interview today to apply for Isomer.