<section data-ng-controller="HomeController" class="home-page">


<!--<div class="icon-heading"><i class="fa fa-users"></i></div>-->

<div></div>
<h1 class="heading">Schedule & Pricing</h1>

<div class="line-separator"></div>

<p class="text-content text-content-subpage">Our bootcamp runs Tuesday to Thursday from 6-9pm for 11 weeks, with new cohorts entering at the beginning of every month. Additionally, we run office hours on Mondays, during the weekdays, and over the weekend.</p>


<p class="text-content text-content-subpage">Our tuition is $2500, which includes:</p>

<p>
    <ul class="text-content text-content-subpage bullets">
        <li>11 week bootcamp</li>
        <li>Quick-start module</li>
        <li>4-month full membership at Sustainable Startups, which include 24/7 access to the space</li>
        <li>Lifetime access to office hours, all future lectures, and web development projects for additional
            practice & experience</li>
        <li>Mock Interview Prep</li>
    </ul>
</p>

    <div class="btn-pad">
        <div class="wrapper">
            <p class="inner">
                <a href="javascript: void 0;" class="button">
                    <span class="border"></span>
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <span class="text">Apply Now</span>
                </a>
            </p>
        </div>
    </div>

    <!--<div class="button btn hexagon hex-padding">Apply</br>Now</div>-->

<p class="text-content text-content-subpage">Feel like you’ve got more left in you at the end of 11 weeks? For $750 extend your experience for an extra 4 weeks. Our <a data-ng-href="#">Mastery Learning Model</a> makes it easy to further advance your skills.
</p>

<p class="text-content text-content-subpage">Spots fill up fast, so apply today.</p>


</section>
