<div class="projects">
    <div class="row">

        <div class="col-md-6 vcenter">
            <h2>
                Mapping Salt Lake City
                <a href="https://github.com/IsomerEDU/MappingSLC">
                    <i class="fa fa-github"></i>
                </a>
            </h2>
            <h4>
                Current Class Project
            </h4>
            <p class="text-content">
                Mapping Salt Lake City is a community-created archive of Salt Lake City’s neighborhoods and people that documents the city’s changes through art, critical and creative literature, personal maps and multi-media projects.
            </p>
            <p class="text-content">
                Students are currently updating the existing Mapping SLC website to have more modern user experience, as well as improved functionality for the site's admins.
            </p>
            <p class="text-content">
                Technologies Used: Mongo, Express, Angular, Node, Mapbox API, Amazon S3, Location APIs
            </p>
        </div><!--
        --><div class="col-md-6 vcenter">
            <img class="img-responsive col-centered" src="/modules/core/img/projects/mappingslc_screenshot.jpg"/>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-6 vcenter">
            <h2>
                Fruit For All
            </h2>
            <h4>
                Upcoming Class Project
            </h4>
            <p class="text-content">
                Isomer is currently partnering with <a href="http://thegreenurbanlunchbox.com/">Green Urban Lunch Box</a> to develop a mobile and web application. The mobile app will allow volunteers to take photos and track the locations
                of trees that are ready to have their fruit harvested, which normal an expensive and labor intensive operation.
            </p>
            <p class="text-content">
                Technologies Used: Mongo, Express, Angular, Node, Ionic, Hardware GPS, Mapbox API, Amazon S3, Location APIs
            </p>
        </div><!--
        --><div class="col-md-6 vcenter">
            <img class="img-responsive col-centered" src="/modules/core/img/projects/fruitforall_screenshot.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 vcenter">
            <h2>
                Top Of Pile
                <a href="https://www.topofpile.us/#!/">
                     <i class="fa fa-external-link-square"></i>
                </a>
            </h2>
            <h4>
                Post-Graduate
            </h4>
            <p class="text-content">
                Top Of Pile is an application that assists users in managing their social media accounts so they don't get disqualified by requiters during the job search.
            </p>
            <p class="text-content">
                Technologies Used: Mean Stack, Social Media APIs (Linkedin, Facebook, Google+ & Twitter), Language Algorithms
            </p>
        </div><!--
        --><div class="col-md-6 vcenter">
            <img class="img-responsive col-centered" src="/modules/core/img/projects/topofpile_screenshot.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 vcenter">
            <h2>
                WAVE
                <a href="https://github.com/wesleyfsmith/wave-website-mean">
                    <i class="fa fa-github"></i>
                </a>
                <a href="http://wave-website.herokuapp.com/#!/">
                    <i class="fa fa-external-link-square"></i>
                </a>
            </h2>
            <h4>
                Post-Graduate
            </h4>
            <p class="text-content">
                Working with graduates from our course, we developed a new website for WAVE. Their current drupal website wasn't giving them the robust CMS functionality they were looking for,
                and they also wanted to update their design.
            </p>
            <p class="text-content">
                Technologies Used: Mean Stack, Blue Imp File Upload, Amazon S3
            </p>
        </div><!--
        --><div class="col-md-6 vcenter">
            <img class="img-responsive col-centered" src="/modules/core/img/projects/wave_screenshot.jpg"/>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6 vcenter">
            <h2>
                Isomer Website
                <a href="https://github.com/IsomerEDU/IsomerWebsite">
                    <i class="fa fa-github"></i>
                </a>
            </h2>
            <h4>
                Post-Graduate
            </h4>
            <p class="text-content">
                This website was built with graduates. It is open source, and is primarily used to teach design concepts, angular route managment, and static page creation.
            </p>
            <p class="text-content">
                Technologies Used: Angular, HTML & CSS, Angular UI-Router
            </p>
        </div><!--
        --><div class="col-md-6 vcenter">
            <img class="img-responsive col-centered" src="/modules/core/img/projects/isomer_screenshot.jpg"/>
        </div>
    </div>
</div>
