<h1 class="heading">Build Real-world Applications</h1>

<p class="text-content text-content-subpage">Coding on an already existing, on-going  site is much different than creating a small app from scratch—and, it’s how web development works outside of the classroom. So, unlike most bootcamps, we’ve setup partnerships with open-source, non-profit organizations who already have a presence on the web. Once you’ve proven yourself with smaller projects, you’ll learn how coding works in the real world. And, no, we aren’t making any money off of these jobs—so we pick only the ones that will be of most benefit to you and your learning.</p>

<!--<div>-->
<!--<h3 class="black heading">Scrum Agile Process</h3>-->
<!--<img src="modules/core/img/scrum-iteration.png" class="img-responsive" style="margin-left: 25%"-->
<!--width="600px"-->
<!--height="auto">-->
<!--</div>-->


<p class="text-content text-content-subpage">Our unique async learning model means you’ll start out on these projects as a junior developer and will work with a small team and a product manager. As you gain experience, you’ll move into more lead roles on your team. And, along the way, we’ll show you tools like <a data-ng-href="https://github.com/isomeredu">GitHub</a>, <a data-ng-href="https://trello.com/">Trello</a>, and the <a data-ng-href="http://agilemethodology.org/">Scrum Agile</a> process that professional web devs use, so when you get your first job you'll already know all of the tricks.</p>



