<body>

<section data-ng-controller="HomeController" class="home-page">
    


<div class="icon-heading"><i class="fa fa-users"></i></div>

<h1 class="heading">Students & Instructors</h1>

<div class="line-separator"></div>

<h3 class="sub-heading">Students</h3>

<p class="text-content">Sometimes it’s overlooked, but the students you learn alongside become one of the most valuable assets to your learning and advancement. 

We are selective in who we take—our non-profit principles and async learning model enable us to not require any minimum class sizes. We take only who we want and who our current students will work with the best. You don’t necessarily need a background in web development—but many already do. Instead, we want the best and the brightest.

Sure, we look for students who are interested in working hard and want to have fun. But, students at Isomer also share a love for problem solving and want to learn how to find solutions on their own. We’ll teach you the skills and equip you with the tools to learn, but we know the best coders ask questions rather than ask for answers.

We know that students who ask questions and are actively engaged contribute the most to other students. And, as you begin to network, it doesn’t hurt these students will also be the ones who advance the quickest in their jobs, and will soon be hiring other developers.

[Later, we would have a link to alumnus and their bio, current positions and/or projects.]</p>


<h3 class="sub-heading">Instructors</h3>

<p class="text-content">Our instructors have worked as web developers for large companies and on startup projects. All of our instructors work as web developers and are active in the coding community, which means they’re up-to-date on the latest trends and newest concepts in web development.

This is hard to teach, and requires a lot of individual attention. And, it’s why 
And, we can do this because our non-profit model ensures an amazing instructor to student ratio of 1:4.
</p>





</section>



</body>