<!-- Isomer Academy
Welcome to Utah’s most ambitious web development bootcamp. In 11 weeks, you’ll see why our mission at Isomer is different than most bootcamps. We’re focused on taking only the smartest and most enthusiastic applicants and integrating them in the web development community so they can code on current, real-world web development projects. 

Our class runs a bit differently too. We’ve developed an asynchronous learning model where you work side-by-side with professional developers as you learn at your own pace. 

Isomer. We’re a bit different.


[icon]      [icon]      [icon]
We’re dedicated to teaching in an environment 
That fosters continuous curiosity
Where student develop ongoing, real-world applications
Becoming a part of the local and online web dev community -->




<body>

<section data-ng-controller="HomeController" class="home-page">
    


<div class="icon-heading"><i class="fa fa-users"></i></div>

<h1 class="heading">Isomer Academy</h1>

<div class="line-separator"></div>

<p class="text-content">Welcome to Utah’s most ambitious web development bootcamp. In 11 weeks, you’ll see why our mission at Isomer is different than most bootcamps. We’re focused on taking only the smartest and most enthusiastic applicants and integrating them in the web development community so they can code on current, real-world web development projects.</p>

<h3 class="sub-heading">Isomer. We’re a bit different.</h3>

<p class="text-content">Our class runs a bit differently too. We’ve developed an asynchronous learning model where you work side-by-side with professional developers as you learn at your own pace.

We’re dedicated to teaching in an environment 
That fosters continuous curiosity
Where student develop ongoing, real-world applications
Becoming a part of the local and online web dev community</p>


</section>



</body>