<section data-ng-controller="HomeController" class="col-md-8 subpage home-page">
    
    <h1 class="heading head-room">Isomer Academy</h1>

    <div class="line-separator"></div>

    <p class="text-content">Welcome to Utah’s most ambitious web development bootcamp. In 11 weeks, you’ll see why our mission at Isomer is different than most bootcamps. We’re focused on taking only the smartest and most enthusiastic applicants and integrating them in the web development community so they can code on current, real-world web development projects.</p>

    <h3 class="sub-heading">Isomer. We’re a bit different.</h3>

    <div class="icon-heading"><img src="modules/core/img/isomerIcon_sq_v2.png" width="80px" height="auto"></div>

</section>
