@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100);

body {
  background-color: #343434;
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;

  
}

img {
  z-index: -5;
}

.logo {
  width: 40%;
  float: left;
  margin-left: -1%;
  position: fixed;
  bottom: 10%;

}



h4 {
  font-family: "Lucida Sans ", "Lucida Grande", sans-serif;
  font-size: 2.1vw;
  color: #666;
  float: left;
  margin-left: 6%;
  position: fixed;
  bottom: 7%;
}



.opaque {
  width: 100%;

}

.hexagons {
  position: absolute;
  z-index: -4;
  float: right;
  right: 60px;

}

.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #cacbcc;
  margin: 100px -20px;
  border-left: solid 5px #98ca54;
  border-right: solid 5px #98ca54;
  z-index: -3;

}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 24.2893px;
  z-index: -2;
  
}

.hexagon:before {
  top: -70.7107px;
  border-top: solid 7.0711px #98ca54;
  border-right: solid 7.0711px #98ca54;


}

.hexagon:after {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px #98ca54;
  border-left: solid 7.0711px #98ca54;
}


.hexagon:nth-child(even) {
    margin-left: 100px;
}

.hexagon {
    clear: left;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 90px solid black;
  z-index: 2;
  position: absolute;
  -moz-transform:rotate(30deg);
  -webkit-transform:rotate(30deg);
  margin: 50px 22px;
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-bottom: 90px solid black;
  z-index: 2;
  position: absolute;
  -moz-transform:rotate(210deg);
  -webkit-transform:rotate(210deg);
  margin: -22px 67px;
}


.darker {
  background-color: #898a8d;
}

.darkest {
  background-color: #4f5052;
}


.glyphicon-search {
  font-size: 30px;
  color: #98ca54;
  margin: 45px -15px;
}

.glyphicon-heart {
  font-size: 30px;
  color: #98ca54;
  -moz-transform:rotate(151deg);
  -webkit-transform:rotate(151deg);
  margin: 45px -15px;
}

.right {
  z-index: 4;
  text-align: right;
  margin-right: 10px;
  line-height: 15px;
}



.bottom {
  text-align: right;
  margin-right: 15px;
  color: #98ca54;
  font-size: 25px;
  text-shadow: 1px 1px 1px #404040;

}

.top {
  text-align: left;
  margin-left: 15px;
  margin-top: -120px;
  color: #98ca54;
  font-size: 25px;
  text-shadow: 1px 1px 1px #404040;

}


.left {
  z-index: 4;
  text-align: left;
  margin-left: 10px;
  line-height: 15px;
  padding-top: 70px;
}

p h6 {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}





@media (min-width: 1100px) {
  

.hexagon {
  width: 300px; 
  height: 173.21px;
  margin: 150px -50px;
  right: 60px;

}

.hexagon:before,
.hexagon:after {
  width: 212.13px;
  height: 212.13px;
  left: 38.9340px;

}

.hexagon:before {
  top: -106.0660px;
  border-top: solid 7.0711px #98ca54;
  border-right: solid 7.0711px #98ca54;
}

.hexagon:after {
  bottom: -106.0660px;
  border-bottom: solid 7.0711px #98ca54;
  border-left: solid 7.0711px #98ca54;
}


.arrow-up {
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 140px solid black;
  position: absolute;
  -moz-transform:rotate(30deg);
  -webkit-transform:rotate(30deg);
  margin: 75px 32px;
}



.arrow-down {
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 140px solid black;
  margin: -40px 100px;
}

.glyphicon-search {
  font-size: 60px;
  margin: 65px -30px;
}

.glyphicon-heart {
  font-size: 60px;
  margin: 55px -30px;
}

.right {
  margin-right: 10px;
  line-height: 20px;
  padding-top: 10px;
}


.bottom {
  margin-right: 15px;
  font-size: 40px;
  margin-top: 25px;
}

.top {
  margin-left: 15px;
  margin-top: -155px;
  font-size: 40px;

}


.left {
  margin-left: 10px;
  line-height: 20px;
  padding-top: 110px;
}

p {
  font-size: 15px;
}

}

















/*@media (max-width: 1699px) {*/

/*.logo {*/
    /*margin-left: -10%;*/
    /*}*/
/*}*/


@media (min-width: 1700px) {



    .logo {
        width: 40%;
        float: left;
        margin-left: -16%;
        position: fixed;
        bottom: 10%;

    }



    h4 {
        font-family: "Lucida Sans ", "Lucida Grande", sans-serif;
        font-size: 2.1vw;
        color: #666;
        float: left;
        margin-left: -9%;
        position: fixed;
        bottom: 7%;
    }


.hexagon {
  width: 400px; 
  height: 230.94px;
  margin: 140px -140px 190px -140px;
  right: 180px;
}

.hexagon:before,
.hexagon:after {
  width: 282.84px;
  height: 282.84px;
  left: 53.5786px;
  padding-top: 70px;
}

.hexagon:before {
  top: -141.4214px;
}

.hexagon:after {
  bottom: -141.4214px;
}


.arrow-up {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 190px solid black;
  position: absolute;
  margin: 100px 42px;
}



.arrow-down {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 190px solid black;
  margin: -61px 136px;
}

.glyphicon-search {
  font-size: 80px;
  margin: 85px -37px;
}

.glyphicon-heart {
  font-size: 80px;
  margin: 75px -43px;
}

.right {
  margin-right: 10px;
  line-height: 22px;
  padding-top: 13px;
}


.bottom {
  margin-right: 20px;
  font-size: 50px;
  margin-top: 55px;
}

.top {
  margin-left: 15px;
  margin-top: -190px;
  font-size: 50px;

}


.left {
  margin-left: 10px;
  line-height: 22px;
  padding-top: 130px;
}

p {
  font-size: 23px;
}

.logo {
  width: 40%;
}
}































/*

@media (min-width: 2000px) {


    .hexagon {
        width: 400px;
        height: 230.94px;
        margin: 115.47px 0;
        right: 60px;
    }

    .hexagon:before,
    .hexagon:after {
        width: 282.84px;
        height: 282.84px;
        left: 53.5786px;
        padding-top: 70px;
    }

    .hexagon:before {
        top: -141.4214px;
    }

    .hexagon:after {
        bottom: -141.4214px;
    }


    .arrow-up {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 140px solid black;
        position: absolute;
        -moz-transform:rotate(30deg);
        -webkit-transform:rotate(30deg);
        margin: 75px 32px;
    }



    .arrow-down {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 140px solid black;
        margin: -40px 100px;
    }

    .glyphicon-search {
        font-size: 60px;
        margin: 65px -30px;
    }

    .glyphicon-heart {
        font-size: 60px;
        margin: 55px -30px;
    }

    .right {
        margin-right: 10px;
        line-height: 20px;
        padding-top: 10px;
    }


    .bottom {
        margin-right: 15px;
        font-size: 40px;
        margin-top: 25px;
    }

    .top {
        margin-left: 15px;
        margin-top: -155px;
        font-size: 40px;

    }


    .left {
        margin-left: 10px;
        line-height: 20px;
        padding-top: 110px;
    }

    p {
        font-size: 15px;
    }

}


*/
