.content {
	margin-top: 50px;
}

.navbar-form {
    border-color: transparent;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.deets {
    margin: 0 auto;
    width: 80%;
}

.deets .col-md-6 div {
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

.background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: url(../img/bg_image.jpg);*/
    background-color: white;
    height: 300px;
}

.home-page img {
    width: 100%;
    position: absolute;
    top: 0;
}

.home-page h1 {
    /*color: #f05153;*/
    padding-top: 100px;
    font-size: 60px;
    z-index: 1;
}

.home-page-details {
    border: 3px solid #f5f5f5;
    border-radius: 4px;
}

.home-page-details h2 {
    font-size: 45px;
    margin-bottom: 40px;
}

.home-page-details {
    width: 80%;
    margin: 0 auto;
}

.divider {
    background-color: black;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}



.home-page-details .why-body {

}