@import url(http://fonts.googleapis.com/css?family=Lato|Quicksand:300,400,700|Raleway:400,100,200,300,500,600,700,800,900);

body {
  background-color: #343434;
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;

  
}

i {
  color: #98ca54;
}

.fa {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  z-index: 0;
}


h2 {
  font-family: Lato;
  font-size: 4vw;
  margin-left: 90px;
  text-align: left;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

h3 {
  color: #d3d3d3;
}

.selling-point-select {
  color: #98ca54;
}

.selling-points {
  margin-top: 100px;
  margin-left: 80px;
}

.selling-points h3:hover {
  color: darkgray;
}

.selling-point {
    margin-bottom: 10px;
    width: 160px;
    height: 160px;
}

.selling-point-2 {
  margin-top: 200px;
  width: 160px;
  height: 160px;
}


/*Positions Logo in bottom left hand corner*/

.logo-div {
  position: fixed;
  width: 40%;
  left: 20px;
  top: 100px;
}

.logo {
  width: 100%;
  float: left;
  margin-left: -1%;
}

.slogan {
  font-size: 2.1em;
  color: #666;
  width: 100%;
  text-align: right;
}


@media (min-width: 1700px) {

}

.left {}

.isomer-deets {
    max-height: 100%;
}

.heading {
  text-align: center;
  margin: 0 auto;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.sub-heading {
  color: #9dcb3b;
  text-align: center;
  margin: 2% auto;
}

.text-content {
  font-size: 2em;
  text-align: center;
  width: 75%;
  margin: 2% auto;
  color: white;
}

.icon-heading {
  text-align: center;
  margin: 8% auto 0 auto;
  font-size: 18vmin;
  color: #9dcb3b;
}

.line-separator {
  border-bottom: 3px solid rgba(102, 102, 102, 0.3);;
  width: 65%;
  margin: 2% auto 6% auto;
}
