<section data-ng-controller="SubscribersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Subscribers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="subscriber in subscribers" data-ng-href="#!/subscribers/{{subscriber._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="subscriber.created | date:'medium'"></span>
				by
				<span data-ng-bind="subscriber.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="subscriber.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!subscribers.$resolved || subscribers.length">
    	No Subscribers yet, why don't you <a href="/#!/subscribers/create">create one</a>?
    </div>
</section>