<section data-ng-controller="ProgramsController" data-ng-init="find()">
    <div class="page-header">
        <h1>An Isomer is a regular molecule with a alternative atomic structure.</h1>
        <h2 style="margin-left: 60px;">We take this metaphor to heart for each of our members.</h2>
        <h3  style="margin-left: 120px;">We look for people who are clever, passionate, different, love learning, and want to change the world while doing so.</h3>
        <h3 class="text-center">So we ask:</h3>
        <h1 class="text-center">Are you an Isomer?</h1>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>Join a community of social entrepreunuers. Use your new found powers for good.</h3>
            </div>
            <div class="col-md-7">
                <img src="/modules/programs/img/ss_banner.jpg"/>
            </div>
        </div>
    <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
            <h3>Fall in love with Technology.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Become a leader and a team player.</h3>
        </div>
        <div class="col-md-7">

        </div>
    </div>
    <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
            <h3>Practice problem solving--the core skill of any Software Engineer.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Use the most cutting-eddyiest tools around.</h3>
        </div>
        <div class="col-md-7">

        </div>
    </div>

        <!--<h1>An Isomer is a molecule with a unique chemical structure. We take this metaphor to heart when people apply for membership within our program.</h1>-->
        <!--<h1>So we ask--are you an Isomer?</h1>-->
    </div>
</section>