<section data-ng-controller="ProgramsController" data-ng-init="find()" class="course">
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-laptop icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>What's an Isomer?</h3>
            <p>
                An Isomer is a regular molecule with a alternative atomic structure. We take this metaphor to heart with each of our members. If you are clever, passionate, different, love learning, and want to change the world while doing so, then you're an Isomer.
            </p>
        </div>
    </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Join a community of social entrepreunuers.</h3>
                <p>
                    Operating out of Sustainable Startups' coworking space, you will be surrounded by a community of social entrepreneurs.
                </p>
            </div>
            <div class="col-md-5">
                <div class="image-wrapper-image ss-logo">
                <img class="ss-logo" src="/modules/course/img/ss_logo.png"/>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-laptop icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Fall in love with Technology.</h3>
            <p>
                If you're like us, you probably spend more time using your computer than any other tool in your life. At Isomer, we like to engage in an active dialogue about the role of technology is our lives, and many of it's social implication.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Become a leader and a team player.</h3>
            <p>Communicating with a product manager, other engineers, as well as dividing and managing work are essential aspects of software engineering leader. We teach the Scrum Agile process, as well as teach you how to coordinate a group with tools such as trello.
            </p>
        </div>
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-trello icon-large"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-gears icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Core Engineering skills.</h3>
            <p>A computer is a very complicated system based of layers of abstraction. By definition, it is impossible to learn everything there is to know about such a complication system. At Isomer, we focus on teaching you how to solve original problems, in order to prepare your for the real world. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Use the most cutting-eddyiest tools around.</h3>
            <p>We are confident that the future is written in fullstack javascript. We focus primarily on the MeanJS framework, because we feel it is the best introduction to diverse software engineering concepts, easy to build large websites, and comprised of industry relevant tools.</p>
        </div>
        <div class="col-md-5">
            <div class="image-wrapper-image meanjs-logo">
            <img class="ss-logo" src="/modules/course/img/meanjslogo.png"/>
            </div>
        </div>
    </div>

    <div>
        <h2>
            Want to apply?
        </h2>
        <h4>
            Complete this form and we'll schedule an in person interview. You can check out the space and learn more about the program while we get to know you. Oh, and here's a list of bulletted items that all of our members learn if you want more specifics.
        </h4>
    <div>

        <!--<h1>An Isomer is a molecule with a unique chemical structure. We take this metaphor to heart when people apply for membership within our program.</h1>-->
        <!--<h1>So we ask--are you an Isomer?</h1>-->
    </div>
</section>