<section data-ng-controller="ProgramsController" data-ng-init="find()" class="course">
    <div style="height: 100px;"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-terminal icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>What's an Isomer?</h3>
            <p>
                An Isomer is a molecule with an alternative structure. We take this metaphor to heart with each of our members. If you are clever, passionate, different, love learning, and want to change the world while doing so, then you're an Isomer.
            </p>
        </div>
    </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Join a community of social entrepreunuers.</h3>
                <p>
                    Operating out of <a href="http://www.sustainablestartups.org/">Sustainable Startups'</a> coworking space, you will be surrounded by a community of social entrepreneurs. Your 4-month membership includes key-fab access to the space.
                </p>
            </div>
            <div class="col-md-5">
                <div class="image-wrapper-image ss-logo">
                <img class="ss-logo" src="/modules/course/img/ss_logo.png"/>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-laptop icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Fall in love with Technology.</h3>
            <p>
                If you're like us, you probably spend more time using your computer than any other tool in your life. At Isomer, we like to engage in an active dialogue about the role of technology is our lives, and many of it's social implication.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Become a leader and a team player.</h3>
            <p>Communicating with a product manager, other engineers, as well as dividing and managing work are essential aspects of software engineering leader. We teach the Scrum Agile process, as well as teach you how to coordinate a group with tools such as trello.
            </p>
        </div>
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-trello icon-large"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="image-wrapper">
            <i class="fa fa-gears icon-large"></i>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Core Engineering skills.</h3>
            <p>Computers are complex systems based on layers of abstraction. By definition, it is impossible to learn everything there is to know about such a complicated system. At Isomer, we focus on teaching you how to solve original problems, in order to prepare you for the real world. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h3>Use the most cutting-eddyiest tools around.</h3>
            <p>We are confident that the future is written in fullstack javascript. We focus primarily on the MeanJS framework, because we feel it is the best introduction to diverse software engineering concepts, easy to build large websites, and comprised of industry relevant tools.</p>
        </div>
        <div class="col-md-5">
            <div class="image-wrapper-image meanjs-logo">
            <img class="ss-logo" src="/modules/course/img/meanjslogo.png"/>
            </div>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="col-md-7">-->
            <!--<h3>Committment</h3>-->
            <!--<p>Class is on M/W/TH from 6 - 9pm, for 10 weeks. Since were in a coworking space, the Instructors and other students are frequently around, so you will have opportunities for office hours as well as project work outside of class.</p>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
            <!--<div class="image-wrapper-image meanjs-logo">-->
                <!--<img class="ss-logo" src="/modules/course/img/meanjslogo.png"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div style="height: 250px;">
        <h2>
        Want to apply?
        </h2>
        <h4>
        We charge $2000 for our membership, which is significantly less than our for-profit competition (scholarships available for women, see application). We run training on M/W/TH from 6-9pm for 10 weeks with additional access to office hours and 24/7 access to the co-working space. Complete <a href="https://docs.google.com/forms/d/1RcpnidCvXZVjkDTuDHoibNHyyIUFfRLcvXpP2xP3Jdg/viewform?usp=send_form">this form </a>and we'll schedule an in person interview. You can check out the space and learn more about the program while we get to know you. Oh, and here's a list of <a href="/#!/deets">items</a> that all of our members learn if you want more specifics.
        </h4>
    </div>
        <!--<h1>An Isomer is a molecule with a unique chemical structure. We take this metaphor to heart when people apply for membership within our program.</h1>-->
        <!--<h1>So we ask--are you an Isomer?</h1>-->
</section>