<div class="col-md-4">
    <h3>
        The Experience
    </h3>
    <ul>
        <li>
            Co-Working Space
        </li>
        <li>
            Social Entrepreneurship Community
        </li>
        <li>
            Non Profit educational attitude
        </li>
        <li>
            Project Focused
        </li>
        <li>
            Github Driven
        </li>
    </ul>
</div>
<div class="col-md-4">
    <h3>
        Theory
    </h3>
    <ul>
        <li>
            Working in teams
        </li>
        <li>
            Agile & Scrum Management
        </li>
        <li>
            Speaking & Presenting Ideas
        </li>
        <li>
            Eye for design
        </li>
        <li>
            Design Patterns
        </li>
        <li>
            Modularity
        </li>
        <li>
            Abstraction
        </li>
        <li>
            Pitching your idea
        </li>
        <li>
            Pro debugging
        </li>
    </ul>
</div>

<div class="col-md-4">
    <h3>
        Hard Skills
    </h3>
    <ul>
        <li>
            Node
        </li>
        <li>
            Databases (sql & no-sql)
        </li>
        <li>
            Mongo
        </li>
        <li>
            Express
        </li>
        <li>
            Angular
        </li>
        <li>
            Engineering Conventions and best-practices
        </li>
        <li>
            Mad git skills
        </li>
        <li>
            The in-and-outs of github and working with open source projects
        </li>
        <li>
            HTML 5 & CSS 3
        </li>
        <li>
            Javascript
        </li>
    </ul>
</div>