<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="//use.typekit.net/ywn5rva.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fragment" content="!">

    <!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body class="ng-cloak">
	<!--<header class="" data-ng-include="'/modules/core/views/header.client.view.html'">-->
    <header>
        <div data-ng-controller="HeaderController" class="text-center container">
            <div >
                <a data-ng-href="/#!/">
                        <img class="img-responsive logo" src="/modules/core/img/brand/isomer_logo_dave.png">
                        <!--<h4 class="slogan pull-right">cure for the common code.</h4>-->
                </a>
                <!--<a data-ng-href="/">-->
                    <!--<div class="row text-center">-->
                        <!--<img class="col-centered col-md-8 col-sm-6 col-xs-6 img-responsive" src="/modules/core/img/brand/isomer_logo_dave.png">-->
                        <!--&lt;!&ndash;<h4 class="slogan pull-right">cure for the common code.</h4>&ndash;&gt;-->
                    <!--</div>-->
                <!--</a>-->
                <button class="btn btn-success btn-lg btn-block navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <!--<a data-ng-href="/#!/">-->
                    <!--<div class="text-center">-->
                        <!--<img class="col-md-8 col-sm-6 col-xs-6 img-responsive logo" src="/modules/core/img/brand/isomer_logo_dave.png">-->
                        <!--&lt;!&ndash;<h4 class="slogan pull-right">cure for the common code.</h4>&ndash;&gt;-->
                    <!--</div>-->
                <!--</a>-->
                <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" >

                    <ul class="nav navbar-nav navbar-right selling-points">

                        <li>
                            <a href="/#!/faqs"><h3>FAQs</h3></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <h3>Course Details</h3>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#!/curriculum">Curriculum: Core Concepts</a>
                                </li>
                                <li>
                                    <a href="/#!/experience">Curriculum: Class Projects</a>
                                </li>
                                <li>
                                    <a href="/#!/experience">The Experience</a>
                                </li>
                                <li>
                                    <a href="/#!/reviews">Reviews</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/#!/pricing">Schedule & Pricing</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://docs.google.com/forms/d/1RcpnidCvXZVjkDTuDHoibNHyyIUFfRLcvXpP2xP3Jdg/viewform"><h3>Apply Now</h3></a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
	</header>
	<section class="content main-container" data-ng-controller="FullScreenController">
		<section data-ng-class="{container: !shouldAllowFullScreen}">
			{% block content %}{% endblock %}
		</section>
        <div class="line-separator"></div>

        <div class="container">
            <div class="row-fluid">

                    <div class="col-md-4 col-xs-12">
                        <div class="pull-right">
                        Housed inside of <a href="http://www.sustainablestartups.org" target="_blank"><img class="img-responsive sustainable" src="/modules/core/img/brand/S2NameOnlyLogo.png"></a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="footer text-center">
                            contact@isomer.io
                        </div>
                        <div class="footer text-center">
                            340E 400S | Salt Lake City, UT | 84111
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="pull-left">
                            <a href="https://github.com/isomeredu"><i class="fa fa-github-square fa-4x"></i></a>
                            <a href="http://twitter.com/isomeredu"><i class="fa fa-twitter-square fa-4x"></i></a>
                            <a href="https://www.facebook.com/isomerEDU"><i class="fa fa-facebook-square fa-4x"></i></a>
                            <a href="https://www.linkedin.com/company/4825825?trk=tyah&trkInfo=tarId%3A1418961280515%2Ctas%3Aisomer%20%2Cidx%3A2-1-2"><i class="fa fa-linkedin-square fa-4x"></i></a>
                            <a href="https://plus.google.com/u/0/b/114245040080750629714/114245040080750629714"><i class="fa fa-google-plus-square fa-4x"></i></a>
                        </div>
                    </div>


            </div>
        </div>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

	{% endif %}
</body>

</html>
