<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fragment" content="!">

    <!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header class="">
        <div data-ng-controller="HeaderController" class="header2 text-center">
            <div class="navbar-header">
                <a data-ng-href="/">
                    <div class="row">
                        <img class="col-centered col-md-3 col-sm-6 col-xs-6 img-responsive" src="/modules/core/img/brand/isomer_full_logo_no_margin.png">
                        <!--<h4 class="slogan pull-right">cure for the common code.</h4>-->
                    </div>
                </a>
                <button class="btn btn-success btn-lg btn-block navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="container">
                <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" >

                    <ul class="nav navbar-nav selling-points">
                        <li>
                            <a href="/#!"><h3 ui-route="/welcome">About Isomer</h3></a>
                        </li>
                        <li>
                            <a href="/#!/pricing"><h3>Pricing</h3></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <h3>Course Details</h3>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#!/curriculum">Curriculum</a>
                                </li>
                                <li>
                                    <a href="/#!/experience">The Experience</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/auth/signout">Pricing</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
	</header>
	<section class="content main-container" data-ng-controller="FullScreenController">
		<section data-ng-class="{container: !shouldAllowFullScreen}">
			{% block content %}{% endblock %}
		</section>
        <div class="line-separator"></div>
        <p class="text-center text-content" style="text-align: center">
            wesley@isomer.io<br>
            340E 400S<br>
            Salt Lake City<br>
            84111<br>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

	{% endif %}
</body>

</html>
